<div class="jumbotron">
    <h1>The RAW Stack</h1>
    <p class="lead">Why the RAW stack? Well it is kind of the equivalent of the MEAN stack. Not that there is anything wrong with the MEAN stack, quite the opposite, but being a .NET developer I really like to keep using .NET where it's strengths lie and where it is suitable. On the server C# with its fast async capabilities is still quite awesome.</p>
    <p><a href="http://msmvps.com/blogs/theproblemsolver/archive/tags/RawStack/default.aspx" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>RavenDB</h2>
        <p>RavenDB is a transactional, open-source Document Database written in .NET, and offering a flexible data model designed to address requirements coming from real-world systems. RavenDB allows you to build high-performance, low-latency applications quickly and efficiently.</p>
        <p><a class="btn btn-default" href="http://ravendb.net/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>AngularJS</h2>
        <p>HTML is great for declaring static documents, but it falters when we try to use it for declaring dynamic views in web-applications. AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.</p>
        <p><a class="btn btn-default" href="http://angularjs.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ASP.NET WebAPI</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach a broad range of clients, including browsers and mobile devices. ASP.NET Web API is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="http://www.asp.net/web-api">Learn more &raquo;</a></p>
    </div>
</div>
