@{
    ViewBag.Title = "Movies";
}

<h2>Movies</h2>

<div ng-app="myApp" ng-controller="moviesCtrl">
    <ul infinite-scroll='nextPage()' infinite-scroll-disabled='loadingData'>
        <li ng-repeat="movie in movies">{{movie.Title}}</li>
    </ul>

    <h3>Add movie</h3>
    <label>Title</label>
    <input type="text" ng-model="newMovie.Title" />
    <button ng-click="addMovie()">Add</button>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/ng-infinite-scroll.min.js"></script>
<script src="~/app/myApp.js"></script>