@{
    ViewBag.Title = "Movies";
}

<div ng-app="myApp">
    <div raw-ajax-busy-indicator="" class="ajax-busy-indicator">
    </div>
    <div ng-view=""></div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-route.min.js"></script>
<script src="~/Scripts/ng-infinite-scroll.min.js"></script>
<script src="~/app/shared/ajaxBusyIndicator.js"></script>
<script src="~/app/myApp.js"></script>