@{
    ViewBag.Title = "Movies";
}

<h2>Movies</h2>

<style>
    .btn-more {
    }
</style>
<div ng-app="myApp" ng-controller="moviesCtrl">
    <div infinite-scroll='nextPage()' infinite-scroll-disabled='loadingData'>
        <div class="row well" ng-repeat="movie in movies">
            <div class="col-sm-2">
                <img ng-src="{{movie.Posters.Profile}}"/>
            </div>
            <div class="col-sm-10">
                <h4 href="" class="Title">{{movie.Title}}</h4>
                <p>
                    {{movie.CriticsConsensus}}
                </p>
                <span class="pull-left">
                    <button class="btn btn-primary">Read More</button>
                </span>
                <span class="pull-right">
                    <span ng-repeat="genre in movie.Genres">
                        <button class="btn btn-info  btn-xs">
                            <span class="glyphicon glyphicon-tag"></span>
                            {{genre}}
                        </button>
                    </span>
                </span>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/ng-infinite-scroll.min.js"></script>
<script src="~/app/myApp.js"></script>